<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DevXuongMoc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DevXuongMoc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="header">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/images/anhcat/logo.jpg" alt="logo" />
                </a>
                <nav class="navbar">
                    <a class="link" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ </a>
                    <a class="link" asp-area="" asp-controller="Aboutus" asp-action="Index">Giới thiệu</a>
                    <a class="link" asp-area="" asp-controller="Products" asp-action="Index">Sản phẩm</a>
                    <a class="link" asp-area="" asp-controller="News" asp-action="Index">Tin tức</a>
                    <a class="link" asp-area="" asp-controller="Partner" asp-action="Index">Đối tác</a>
                    <a class="link" asp-area="" asp-controller="Contact" asp-action="Index">Liên hệ</a>
                </nav>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="allInfo">
            <div class="info">
                <h5>thông tin chung</h5>
                <p>công ty tnhh hoàng hoan</p>
                <ul class="list-footer">
                    <li>
                        <div class="icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div>
                            <a href="tel:0999.999.999">0999.999.999</a>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fa-regular fa-envelope"></i>
                        </div>
                        <div>
                            <a href="mailto:cskh@hoanghoan.vn">cskh@hoanghoan.vn</a>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div>Số 1 Nguyễn Trãi, Thanh Xuân, Hà Nội</div>
                    </li>
                </ul>
            </div>
            <div class="info">
                <h5>về chúng tôi</h5>
                <ul class="list-footer">
                    <li><a href="" class="list-a"></a></li>
                    <li><a asp-controller="Aboutus" asp-action="Index" class="list-a">Giới thiệu</a></li>
                    <li><a asp-controller="Products" asp-action="Index" class="list-a">Sản phẩm</a></li>
                    <li><a asp-controller="News" asp-action="Index" class="list-a">Tin tức</a></li>
                    <li><a asp-controller="Partner" asp-action="Index" class="list-a">Đối tác</a></li>
                    <li><a asp-controller="Contact" asp-action="Index" class="list-a">Liên hệ</a></li>
                </ul>
            </div>
            <div class="info">
                <h5>kết nối với chúng tôi</h5>
                <div class="social">
                    <a href="/"><img src="../../images/anhcat/icon_fb_pro.jpg" alt="social images"></a>
                    <a href="/"><img src="../../images/anhcat/icon_zalo_pro.jpg" alt="social images"></a>
                    <a href="/"><img src="../../images/anhcat/icon_email_pro.jpg" alt="social images"></a>
                </div>
                <img src="../../images/anhcat/chatluong.jpg" alt="chứng nhận">
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
