@font-face{
font-family: Gotham-Ultra;
src: url('../exam/fonts/Gotham-Ultra.otf');
}

@font-face {
font-family: Gotham-Medium;
src: url("../exam/fonts/Gotham-Medium.otf");
}

@font-face {
font-family: Gotham-Thin;
src: url("../exam/fonts/Gotham-Thin.otf");
}
